*.lo
*.o
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
docs/reference/libsqueeze/version.xml
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libsqueeze/libsqueeze-2.la
libtool
ltmain.sh
m4
missing
mkinstalldirs
po/*.gmo
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
squeeze-cli/squeeze-cli
squeeze.desktop
src/squeeze
src/throbber-fallback.c
stamp-h1
